<%- include('partials/header') %>
<%- include('partials/navbar') %>

<div class="about-section">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste dolorem architecto quia similique eos eum explicabo soluta quam illum? Explicabo similique vitae dolorum rerum voluptatem! Porro nostrum ea cum explicabo!
</div>

