<%- include('partials/header') %>
<%- include('partials/navbar') %>
    <img src="/Bg_img.jpg" class="bg-img" alt="img">

    <form action="/track" class="form-track" method="get">
        <label for="id" id="form-title">Tracking ID</label>
        <input type="text" name="id" id="id" placeholder="1234567">
        <button type="submit" id="track-btn">Track Thesis</button>
    </form>
</body>
</html>