<%- include('partials/header') %>
<%- include('partials/navbar') %>

<section class="root">
    <figure>
      <img src="https://image.flaticon.com/icons/svg/970/970514.svg" alt="">
      <figcaption>
        <h4>Tracking Details</h4>
        <h6>RFID: </h6>
        <h2><%= id %> </h2>
      </figcaption>
    </figure>
    <div class="order-track">
      <div class="order-track-step">
        <div class="order-track-status">
          <span class="order-track-status-dot"></span>
          <span class="order-track-status-line"></span>
        </div>
        <div class="order-track-text">
          <p class="order-track-text-stat">Label Created</p>
          <span class="order-track-text-sub">1st November, 2019</span>
        </div>
      </div>
      <div class="order-track-step">
        <div class="order-track-status">
          <span class="order-track-status-dot"></span>
          <span class="order-track-status-line"></span>
        </div>
        <div class="order-track-text">
          <p class="order-track-text-stat"> Shipped - 123 Start St.
  Seattle, WA </p>
          <span class="order-track-text-sub">1st November, 2019</span>
        </div>
      </div>
      <div class="order-track-step">
        <div class="order-track-status">
          <span class="order-track-status-dot"></span>
          <span class="order-track-status-line"></span>
        </div>
        <div class="order-track-text">
          <p class="order-track-text-stat"> Estimated - 456 End St.
  New York City, NY</p>
          <span class="order-track-text-sub">3rd November, 2019</span>
        </div>
      </div>
    </div>
  </section>